<%- include("partials/header.ejs") %>

<body class="background-pattern">
    <div class="px-4 text-center">

        <section class="text-center container">
            <div class="row pt-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-normal">Get a plant</h1>
                <p class="lead fw-normal">
                    Please provide your garden requirements below to receive plant recommendations that align with your vision and necesities.
                </p>
                <p class="text-body-secondary fw-bold">
                    * Fields that are left unspecified will not be considered in the requirements.
                </p>
                <form action="/send-design-request" method="POST">
                    <!-- 3 column grid layout with text inputs for Hardiness, indoor/outdoor and poisonous fields -->
                    <div class="row mb-4">
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <select name="hardiness" class="form-select" aria-label="hardiness field" required>
                                    <option value="" disabled selected>Hardiness (required)</option>
                                    <% for (let i = 1; i < 14; i++) { %>
                                        <option><%= i %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <select name="indoor" class="form-select" aria-label="Indoor or outdoor field">
                                    <option disabled selected>Outdoor/Indoor</option>
                                    <option value="">Not relevant</option>
                                    <option value="">Outdoor</option>
                                    <option value="1">Indoor</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <button type="button" class="btn btn-block ticker-button inactive" id="tickerButton">No poisonous plants</button>
                                <input type="hidden" name="poisonous" id="poisonousInput" value="" />
                            </div>
                        </div>
                    </div>
                
                    <!-- Number of edible plants -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input name="edible" type="number" id="form6Example5" class="form-control" placeholder="Amount of edible plants" min="0" />
                    </div>

                    <!-- 2 column grid layout with select inputs for amount of sunlight and amount of watering fields -->
                    <div class="row mb-4">
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <select name="watering" class="form-select" aria-label="Amount of watering select">
                                    <option disabled selected>Amount of watering</option>
                                    <option value="">Not relevant</option>
                                    <option value="frequent">Frequent</option>
                                    <option value="average">Average</option>
                                    <option value="minimum">Minimum</option>
                                    <option value="none">None</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <select name="sunlight" class="form-select" aria-label="Amount of sunlight select">
                                    <option disabled selected>Amount of sunlight</option>
                                    <option value="">Not relevant</option>
                                    <option value="full_shade">Full Shade</option>
                                    <option value="part_shade">Part Shade</option>
                                    <option value="sun-part_shade">Sun Part Shade</option>
                                    <option value="full_sun">Full Sun</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Post requirements button -->
                    <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4 granate-red-btn">Submit</button>
                </form>
                </div>
            </div>
        </section>


        <div class="overflow-hidden" style="max-height: 58vh;">
            <div class="container px-5">
            <img src="imgs/home-page-flower.png" class="img-fluid" alt="Flower image" width="430" height="320" loading="lazy">
            </div>
        </div>

    </div>

<%- include("partials/footer.ejs") %>