
<%- include("partials/header.ejs") %>

<body class="background-pattern">
    <div class="px-4 pt-5 text-center mt-5">
        <h1 class="fw-normal">The White Lotus</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 fw-normal">Transform your garden into the most beautiful in town with our customized garden design service. Tailored to meet your unique needs, we use the Perennial API to source the best plant data, ensuring exceptional results for your outdoor space.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-3">
                <a href="/design-request">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3 customize-btn">Customize now!</button>
                </a>
            </div>
        </div>
        <div class="overflow-hidden" style="max-height: 58vh;">
            <div class="container px-5">
            <img src="imgs/home-page-flower.png" class="img-fluid" alt="Flower image" width="430" height="320" loading="lazy">
            </div>
        </div>
    </div>

<%- include("partials/footer.ejs") %>