
<%- include("partials/header.ejs") %>

<body class="background-pattern">
    <div class="px-4 pt-5 text-center mt-5">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Your plants are ready!</h1>
        
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="https://perenual.com/storage/species_image/6_abies_koreana_aurea/og/49235570926_99ec10781d_b.jpg" class="d-block mx-lg-auto result-img" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h2 class="fw-normal lh-1 mb-3">Golden Korean Fir</h2>
                <ul class="list-group list-group-flush bg-transparent">
                    <li class="list-group-item bg-transparent p-0">
                        <div class="me-auto fw-normal">
                          <div class="fw-bold">Scientific Name</div>
                          Abies koreana 'Aurea'
                        </div>
                    </li>
                    <li class="list-group-item bg-transparent p-0">
                        <div class="me-auto fw-normal">
                          <div class="fw-bold">Cycle</div>
                          Perennial
                        </div>
                    </li>
                    <li class="list-group-item bg-transparent p-0">
                        <div class="me-auto fw-normal">
                          <div class="fw-bold">Watering</div>
                          Average
                        </div>
                    </li>
                    <li class="list-group-item bg-transparent p-0">
                        <div class="me-auto fw-normal">
                          <div class="fw-bold">Sunlight</div>
                          Full sun, part shade
                        </div>
                    </li>
                    <li class="list-group-item bg-transparent p-0">
                        <div class="me-auto fw-normal">
                          <div class="fw-bold">Hardiness</div>
                          6
                        </div>
                    </li>
                  </ul>
                <!-- <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p> -->
              </div>
            </div>
          </div>




        <div class="overflow-hidden" style="max-height: 58vh;">
            <div class="container px-5">
            <img src="imgs/home-page-flower.png" class="img-fluid" alt="Flower image" width="430" height="320" loading="lazy">
            </div>
        </div>
    </div>

<%- include("partials/footer.ejs") %>